# Heroes of Pymoli Data Analysis
- 15-24 years olds make up ~65% of all players
- While 20-24 year olds make up 40% of the players and spent the most money on items in the game, 30-34 year olds spent the most on average per item
- Women not only spent less than any other gender, they also paid less per item, whereas Other / Non-Disclosed spent the most per person.

In [1]:
# Import modules
import pandas as pd

In [2]:
# Create a reference the JSON file desired
filename = 'data/purchase_data.json'

# Read the JSON into a Pandas DataFrame
purchaseData = pd.read_json(filename)
purchaseData.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [3]:
# Total number of unique players
totalSNs = purchaseData.drop_duplicates(['SN'], keep='first')

# Create DataFrame for Output
playerCount = [{'Total Players':len(totalSNs)}]
playerCount = pd.DataFrame(playerCount)
playerCount

   Total Players
0            573

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
uniqueItems = len(purchaseData['Item ID'].unique())

# Average Price
avgPrice = purchaseData['Price'].mean()

# Number of purchases
purchases = purchaseData['Item Name'].value_counts()
totalPurchases = purchases.sum()

# Total Revenue
revenue = purchaseData['Price'].sum()

# Create DataFrame for Output
purchasingAnalysis = [{'Number of Unique Items':uniqueItems,
                       'Average Price':avgPrice,
                       'Number of Purchases':totalPurchases,
                       'Total Revenue':revenue}]
purchasingAnalysis = pd.DataFrame(purchasingAnalysis)

# Style output
purchasingAnalysis['Average Price'] = purchasingAnalysis['Average Price'].map('$ {:,.2f}'.format)
purchasingAnalysis['Total Revenue'] = purchasingAnalysis['Total Revenue'].map('$ {:,.2f}'.format)
purchasingAnalysis = purchasingAnalysis[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
# Print results
purchasingAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183        $ 2.93                  780    $ 2,286.33

## Gender Demographics

In [5]:
# Figure how many player there are per gender
genderDemo = totalSNs['Gender'].value_counts()

# Create a gender Demographics DataFrame
genderDemo = pd.DataFrame(genderDemo)

# Calculate Percentage of players
genderDemo['Percentage of Players'] = genderDemo['Gender'] / len(totalSNs)

# Style Output
genderDemo.index.names = ['Gender']
genderDemo = genderDemo[['Percentage of Players','Gender']]
genderDemo = genderDemo.rename(columns={'Gender':'Total Count'})
genderDemo['Percentage of Players'] = genderDemo['Percentage of Players'].map('{:.2%}'.format)

# Print Results
genderDemo

                      Percentage of Players  Total Count
Gender
Male                                 81.15%          465
Female                               17.45%          100
Other / Non-Disclosed                 1.40%            8

## Purchasing Analysis (Gender)

In [22]:
# Groupby gender
genderPurch = purchaseData.groupby(['Gender'])

# Purchase Count
genderPurchTot = genderPurch['Price'].count()

# Average Purchase Price
genderPurchAvg = genderPurch['Price'].mean()

# Total Purchase Price
genderPurchPrice = genderPurch['Price'].sum()

# Normalized Totals
normTotGen = genderPurchPrice/genderDemo['Total Count']

# Create DataFrame for Output
genderPurch = pd.DataFrame({'Purchase Count':genderPurchTot,
                            'Average Purchase Price':genderPurchAvg,
                            'Total Purchase Value':genderPurchPrice,
                            'Normailzed Totals': normTotGen
                           })

# Style output
genderPurch['Average Purchase Price'] = genderPurch['Average Purchase Price'].map('$ {:,.2f}'.format)
genderPurch['Total Purchase Value'] = genderPurch['Total Purchase Value'].map('$ {:,.2f}'.format)
genderPurch['Normailzed Totals'] = genderPurch['Normailzed Totals'].map('$ {:,.2f}'.format)
genderPurch = genderPurch[['Purchase Count','Average Purchase Price','Total Purchase Value','Normailzed Totals']]

# Print Results
genderPurch

,Purchase Count,Average Purchase Price,Total Purchase Value,Normailzed Totals
Gender,,,,
Female,136,$ 2.82,$ 382.91,$ 3.83
Male,633,$ 2.95,"$ 1,867.68",$ 4.02
Other / Non-Disclosed,11,$ 3.25,$ 35.74,$ 4.47

## Purchasing Analysis|

In [13]:
# Create Bins for Age Groups
bins = [0,10,15,20,25,30,35,40,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Cut data using bins
totalSNs['Age Binned'] = pd.cut(totalSNs.loc[:,'Age'], bins, labels=group_names)

# Group by age bins
ageDemo = totalSNs.groupby(['Age Binned'])

# Create Age Demographics DataFrame
ageDemoNumb = ageDemo['SN'].count()

# Create Age Demo DataFrame
ageDemo = pd.DataFrame({'Player Count':ageDemoNumb})

# Calculate Percentage of players
ageDemo['Percentage of Players'] = ageDemo['Player Count'] / len(totalSNs)

# Style Output
ageDemo.index.names = ['Age']
ageDemo['Percentage of Players'] = ageDemo['Percentage of Players'].map('{:.2%}'.format)

# Print Results
ageDemo

/Users/nupur_mathur/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Player Count Percentage of Players
Age
10-14            54                 9.42%
15-19           139                24.26%
20-24           234                40.84%
25-29            52                 9.08%
30-34            44                 7.68%
35-39            25                 4.36%
40+               3                 0.52%
<10              22                 3.84%

## Purchasing Analysis (Age)

In [16]:
agePurch = totalSNs.groupby(['Age Binned'])

# Purchase Count
agePurchTot = agePurch['Price'].count()

# Average Purchase Price
agePurchAvg = agePurch['Price'].mean()

# Total Purchase Price
agePurchPrice = agePurch['Price'].sum()

# Normalized Totals
normTotAge = agePurchPrice/ageDemoNumb

# Create DataFrame for Output
agePurch = pd.DataFrame({'Purchase Count':agePurchTot,
                            'Average Purchase Price':agePurchAvg,
                            'Total Purchase Value':agePurchPrice,
                            'Normailzed Totals': normTotAge
                           })

# Style output
agePurch.index.names = ['Age']
agePurch['Average Purchase Price'] = agePurch['Average Purchase Price'].map('$ {:,.2f}'.format)
agePurch['Total Purchase Value'] = agePurch['Total Purchase Value'].map('$ {:,.2f}'.format)
agePurch['Normailzed Totals'] = agePurch['Normailzed Totals'].map('$ {:,.2f}'.format)
agePurch = agePurch[['Purchase Count','Average Purchase Price','Total Purchase Value','Normailzed Totals']]

# Print Results
agePurch

,Purchase Count,Average Purchase Price,Total Purchase Value,Normailzed Totals
Age,,,,
10-14,54,$ 2.89,$ 155.94,$ 2.89
15-19,139,$ 2.90,$ 403.12,$ 2.90
20-24,234,$ 2.99,$ 699.12,$ 2.99
25-29,52,$ 2.92,$ 151.65,$ 2.92
30-34,44,$ 3.33,$ 146.48,$ 3.33
35-39,25,$ 2.87,$ 71.64,$ 2.87
40+,3,$ 2.88,$ 8.64,$ 2.88
<10,22,$ 3.16,$ 69.50,$ 3.16

## Top Spenders

In [10]:
# Group by SN
topSpenders = purchaseData.groupby(['SN'])

# Purchase Count
topSpendersCount = topSpenders['Item ID'].count()

# Average Purchase Price
topSpendersAvg = topSpenders['Price'].mean()

# Total Purchase Value
topSpendersTot = topSpenders['Price'].sum()

# Create DataFrame for Output
topSpenders = pd.DataFrame({'Purchase Count':topSpendersCount,
                            'Average Purchase Price':topSpendersAvg,
                            'Total Purchase Value':topSpendersTot
                           })

topSpenders = topSpenders.sort_values(['Total Purchase Value'],ascending=False)

# Style output
topSpenders['Average Purchase Price'] = topSpenders['Average Purchase Price'].map('$ {:,.2f}'.format)
topSpenders['Total Purchase Value'] = topSpenders['Total Purchase Value'].map('$ {:,.2f}'.format)
topSpenders = topSpenders[['Purchase Count','Average Purchase Price','Total Purchase Value']]



# Print Results
topSpenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                 $ 3.41              $ 17.06
Saedue76                  4                 $ 3.39              $ 13.56
Mindimnya67               4                 $ 3.18              $ 12.74
Haellysu29                3                 $ 4.24              $ 12.73
Eoda93                    3                 $ 3.86              $ 11.58

## Most Popular Items

In [25]:
# Group by Item ID
popItems = purchaseData.groupby(['Item ID','Item Name'])

# Purchase Count
popItemsCount = popItems['Item ID'].count()

# Item Price
popItemsPrice = popItems['Price'].mean()

# Total Purchase Value
popItemsTot = popItems['Price'].sum()

# Create DataFrame for Output
itemSum = pd.DataFrame({'Purchase Count':popItemsCount,
                         'Item Price':popItemsPrice,
                         'Total Purchase Value':popItemsTot
                       })


popItems = itemSum.sort_values(['Purchase Count'],ascending=False)

# Style output
popItems['Item Price'] = popItems['Item Price'].map('$ {:,.2f}'.format)
popItems['Total Purchase Value'] = popItems['Total Purchase Value'].map('$ {:,.2f}'.format)
popItems = popItems[['Purchase Count','Item Price','Total Purchase Value']]

# Print Results
popItmes5 = popItems.head(5)
popItmes5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$ 2.35,$ 25.85
84,Arcane Gem,11,$ 2.23,$ 24.53
31,Trickster,9,$ 2.07,$ 18.63
175,Woeful Adamantite Claymore,9,$ 1.24,$ 11.16
13,Serenity,9,$ 1.49,$ 13.41

## Most Profitable Items

In [26]:
profItems = itemSum.sort_values(['Total Purchase Value'],ascending=False)

# Style output
profItems['Item Price'] = profItems['Item Price'].map('$ {:,.2f}'.format)
profItems['Total Purchase Value'] = profItems['Total Purchase Value'].map('$ {:,.2f}'.format)
profItems = profItems[['Purchase Count','Item Price','Total Purchase Value']]

# Print Results
profItems5 = profItems.head(5)
profItems5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$ 4.14,$ 37.26
115,Spectral Diamond Doomblade,7,$ 4.25,$ 29.75
32,Orenmir,6,$ 4.95,$ 29.70
103,Singed Scalpel,6,$ 4.87,$ 29.22
107,"Splitter, Foe Of Subtlety",8,$ 3.61,$ 28.88